.error404 {
    font-family: "Roboto", cursive;

    background-color: #1c3d5e;
    color: #fff;

    display: inline-block;
    padding: 15px;
    text-align: center;
    margin-top: 5%;
    min-width: 50%;
    max-height: 50%;
    left: 20%;
    position: absolute;

    border-radius: 25px;
    > h1 {
    }
    > p {
    }
}
