//@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");
$color-sheme-37: #37ecba;
$blue: #56b2e7;
$dark-blue: #399aa7;
%main-font {
    padding: 15px;
    color: white;
    font-size: 40px;
}

body {
    margin: 0;
    &::before {
        content: "";
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
        background: $color-sheme-37;
        background: linear-gradient(to top, $color-sheme-37 0%, $blue 100%);
        width: 100%;
        height: 100%;
    }
}

input,
button {
    outline: none;
}

button {
    cursor: pointer;
}

.complete {
    text-decoration: line-through;
}

.squaredThree {
    width: 20px;
    margin: 20px auto;
    padding: 10px;
    position: relative;
    .input[type="checkbox"]:checked + label:after {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        opacity: 1;
    }
    .check__input {
        width: 50px;
        margin: 10px auto;
        position: relative;
    }
}

.todo {
    font-family: "Roboto", cursive;
    margin: 0 auto;
    min-width: 500px;
    max-height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    > form {
        background-color: $dark-blue;
        display: flex;
        justify-content: space-between;
        @extend %main-font;
        font-weight: bold;
        > input {
            font-size: 25px;
            font-style: italic;
            width: calc(100% - 80px);
            color: white;
            padding: 15px;
            background: none;
            border: none;
            &::placeholder {
                color: white;
            }
        }
        > button {
            font-weight: bold;
            padding: 10px 15px;
            font-size: 20px;
            background-color: $blue;
            border: none;
            color: white;
        }
    }
    > ul {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 20px;

        > li {
            padding: 15px;
            line-height: 25px;
            position: relative;
            cursor: pointer;
            background-color: white;
            button {
                font-size: 20px;
                float: right;
                border: none;
                background: none;
            }
            /*  &:hover {
                span {
                    background-color: #eee;
                }
            }*/
            > input[type="text"] {
                background: blue;
                border: none;
                margin-left: 30px;
                width: calc(100% - 100px);
            }
            > input[type="checkbox"] {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
                &:checked {
                    ~ span {
                        background-color: #00bcd4;
                        &::after {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}
