.counter {
    font-family: "Roboto", cursive;
    padding: 15px;
    text-align: center;
    margin-top: 20%;
    min-width: 50%;
    max-height: 50%;
    left: 20%;
    position: absolute;
    .counter__form {
        background-color: #1c3d5e; //;
        display: inline-flex;
        text-align: center;
        > button {
            font-weight: bold;
            padding: 15px 15px;
            font-size: 20px;
            background-color: #399aa7; //#56b2e7;
            border: none;
            color: rgb(255, 255, 255);
        }
        > a {
            font-size: 20px;
            font-style: italic;
            color: white;
        }
    }
}
